h1{
    color: tomato;
}
 p{
     /* hex color is here
     color: #ffabff; */
      /* rgb color is here  */
        color: rgb(255,45,123);
        /* rgba colors here 
        color: rgba(233, 222, 123, 0.5);*/
        /* HSL colors here 
        color:hsl(65, 100%, 57%)*/
        background-color: rgb(233,143,65);

}